<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Thinkscape"
            id="org.integratedmodelling.thinkscape.thinkscape">
      </category>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.PluginView"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.views.PluginView"
            name="Thinklab Projects">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.ThinklabConsole"
            icon="icons/computer.png"
            id="org.integratedmodelling.thinkscape.views.ThinklabConsole"
            name="Thinklab Console">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.Sources"
            icon="icons/database_refresh.png"
            id="org.integratedmodelling.thinkscape.views.Sources"
            name="Sources">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.ThinklabModels"
            icon="icons/database_gear.png"
            id="org.integratedmodelling.thinkscape.views.ThinklabModels"
            name="Models">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.KnowledgeView"
            icon="icons/database_lightning.png"
            id="org.integratedmodelling.thinkscape.views.KnowledgeView"
            name="Knowledge">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.AnnotationsView"
            icon="icons/database_edit.png"
            id="org.integratedmodelling.thinkscape.views.AnnotationsView"
            name="Annotations">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.ThinkcapView"
            icon="icons/server_go.png"
            id="org.integratedmodelling.thinkscape.views.ThinkcapView"
            name="Thinkcap Server">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.ObservablesView"
            id="org.integratedmodelling.thinkscape.views.ObservablesView"
            name="Observables">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.integratedmodelling.thinkscape.views.Knowledge">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.integratedmodelling.thinkscape.views.PluginView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.integratedmodelling.thinkscape.commands.category"
            name="Thinkscape commands">
      </category>
      <command
            categoryId="org.integratedmodelling.thinkscape.commands.category"
            id="org.integratedmodelling.thinkscape.commands.sampleCommand"
            name="Open a Thinklab console">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.integratedmodelling.thinkscape.handlers.ShellHandler"
            commandId="org.integratedmodelling.thinkscape.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.integratedmodelling.thinkscape.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
                  id="org.integratedmodelling.thinkscape.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.integratedmodelling.thinkscape.toolbars.sampleToolbar">
            <command
                  commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
                  icon="icons/computer.gif"
                  id="org.integratedmodelling.thinkscape.toolbars.sampleCommand"
                  tooltip="Open a Thinklab console">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.integratedmodelling.thinkscape.perspectives.ThinklabPerspective"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.perspectives.ThinklabPerspective"
            name="Thinklab Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.integratedmodelling.thinkscape.editors.AnnotationEditor"
            extensions="ann"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.editors.AnnotationEditor"
            name="Annotation Editor">
      </editor>
      <editor
      		extensions="concept"
            class="org.integratedmodelling.thinkscape.editors.ConceptEditorPart"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.editors.concept"
            name="Concept Editor">
      </editor>
      <editor
            class="org.integratedmodelling.thinkscape.gedit.ModelEditor"
            extensions="model"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.gedit.ModelEditor"
            name="Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="org.integratedmodelling.thinkscape.describers.AnnotationDescriber"
            file-extensions="ann"
            id="org.integratedmodelling.thinkscape.semantic-annotation"
            name="Semantic annotation"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.integratedmodelling.thinkscape"
            name="thinkscape">
      </category>
      <wizard
            category="org.integratedmodelling.thinkscape"
            class="org.integratedmodelling.thinkscape.wizards.NewAnnotation"
            icon="icons/lightbulb.png"
            id="org.integratedmodelling.thinkscape.wizards.NewAnnotation"
            name="New Semantic annotation">
      </wizard>
      <wizard
            category="org.integratedmodelling.thinkscape"
            class="org.integratedmodelling.thinkscape.wizards.NewProject"
            descriptionImage="thinklab.png"
            finalPerspective="org.integratedmodelling.thinkscape.perspectives.ThinklabPerspective"
            icon="icons/lightbulb_add.png"
            id="org.integratedmodelling.thinkscape.thinkproject"
            name="New Thinklab Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="org.integratedmodelling.thinkscape.splash.InteractiveSplashHandler"
            id="org.integratedmodelling.thinkscape.splash.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="org.integratedmodelling.thinkscape.application"
            splashId="org.integratedmodelling.thinkscape.splash.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="thinkscape"
         name="Thinkscape Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.integratedmodelling.thinkscape.builder.ThinkscapeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="thinkscape"
         name="Thinkscape Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.integratedmodelling.thinkscape.builder.ThinkscapeNature">
         </run>
      </runtime>
      <builder
            id="org.integratedmodelling.thinkscape.thinkscape">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.integratedmodelling.thinkscape.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.integratedmodelling.thinkscape.builder.ToggleNatureAction"
               enablesFor="+"
               id="org.integratedmodelling.thinkscape.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.integratedmodelling.thinkscape.wizards.sampleCategory"
            name="Source Import">
      </category>
      <wizard
            category="org.integratedmodelling.thinkscape.wizards.sampleCategory"
            class="org.integratedmodelling.thinkscape.wizards.SourceImportWizard"
            icon="icons/database_refresh.png"
            id="org.integratedmodelling.thinkscape.wizards.SourceImportWizard"
            name="Import Source">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
