<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Thinkscape"
            id="org.integratedmodelling.thinkscape.thinkscape">
      </category>
      <view
            name="Knowledge"
            icon="icons/sample.gif"
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.KnowledgeView"
            id="org.integratedmodelling.thinkscape.views.Knowledge">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.PluginView"
            icon="icons/sample.gif"
            id="org.integratedmodelling.thinkscape.views.PluginView"
            name="Thinklab Projects">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.ThinklabConsole"
            id="org.integratedmodelling.thinkscape.views.ThinklabConsole"
            name="Thinklab Console">
      </view>
      <view
            category="org.integratedmodelling.thinkscape.thinkscape"
            class="org.integratedmodelling.thinkscape.views.Sources"
            id="org.integratedmodelling.thinkscape.views.Sources"
            name="Sources">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.integratedmodelling.thinkscape.views.Knowledge">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.integratedmodelling.thinkscape.views.PluginView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.integratedmodelling.thinkscape.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.integratedmodelling.thinkscape.commands.category"
            id="org.integratedmodelling.thinkscape.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.integratedmodelling.thinkscape.handlers.ShellHandler"
            commandId="org.integratedmodelling.thinkscape.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.integratedmodelling.thinkscape.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
                  id="org.integratedmodelling.thinkscape.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.integratedmodelling.thinkscape.toolbars.sampleToolbar">
            <command
                  commandId="org.integratedmodelling.thinkscape.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.integratedmodelling.thinkscape.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.integratedmodelling.thinkscape.perspectives.ThinklabPerspective"
            id="org.integratedmodelling.thinkscape.perspectives.ThinklabPerspective"
            name="Thinklab Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.integratedmodelling.thinkscape.editors.AnnotationEditor"
            id="org.integratedmodelling.thinkscape.editors.AnnotationEditor"
            name="New Annotation">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            describer="org.integratedmodelling.thinkscape.describers.AnnotationDescriber"
            file-extensions="annotation"
            id="org.integratedmodelling.thinkscape.semantic-annotation"
            name="Semantic annotation"
            priority="normal">
      </content-type>
   </extension>

</plugin>
